<div>
  <div ng-controller="HController">
      <div></div>
      <div style="margin-left:90px;">
          <table>
              <tr style="height:35px;margin-bottom:10px;">
                  <tr>
                      <td style="background-color:#666699"><span style="margin-left:5px;color:white;background-color:#666699;width:250px;">Available</span>

                      </td>
                      <td></td>
                      <td style="background-color:#666699"><span style="margin-left:5px;color:white;background-color:#666699;width:250px;">Selected</span>

                      </td>
                      <tr>
                          <tr>
                              <td>
                                  <div>
                                      <select multiple id="availabelist" size="10" style="width:275px" ng-change="OnAvailableChange()" ng-model="SelectedAvailItems" ng-options="i as i.email for i in AvailableListItems[selectFaIndex] | orderBy:'email'"></select>
                                  </div>
                              </td>
                              <td>
                                  <div style="float:left">
                                      <input id="btnRight" type="button" value="-->" style="width:50px" ng-click="btnRight()" />
                                      <br/>
                                      <br/>
                                      <input id="btnLeft" type="button" value="<--" style="width:50px" ng-click="btnLeft()" />
                                  </div>
                              </td>
                              <td>
                                  <div>
                                      <select multiple id="selectedlist" size="10" style="width:275px" ng-model="SelectedSelectedListItems" ng-options="i as i.email for i  in SelectedListItems[selectFaIndex] | orderBy:'email'"></select>
                                  </div>
                              </td>
                              <tr></tr>
          </table>
      </div>
  </div>